.body_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    /* padding-bottom: 50px; */
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "SEGA LOGO FONT";
    color: #0ccac4;
    /* background-color: black; */
    /* margin-bottom: 10px; */
    margin-top: 50px;
    text-shadow: 2px 2px blue;

    
} 

@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}


.game_container{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
    /* padding-bottom: 50px; */

} 


/* #game{
    width: 800px;
    height: 650px;

    background: url('img/bg.png');
    position: relative;
    box-shadow: 0 2px 10px rgb(2, 207, 2);
    animation: move_background 4s linear infinite;

} */

/* makes the background look like its moving */
/* @keyframes move_background{
    from {
        background-position-y: 0px;
    } to {
        background-position-y: 360px;
    }
} */






/*! TEST */
#background{
    /* border: 2px solid lightgrey; */
    background-color: yellow;
    /* background: url('img/background_purp.png'); */
    width: 800px;
    height: 650px;
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    z-index: -2;
    box-shadow: 0px 2px 10px rgb(2, 207, 2);
    /* margin-bottom: 100px; */
}

#main {
    /* background-color: lightblue;
    opacity: 50%; */
    z-index: -1;
}

#ship{
    /* background-color: green; */
    z-index: 0;
}